.container__homepage {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.container__homepage h2 {
  padding-bottom: 2rem;
}

.container__homepage img {
  width: 10rem;
}

.hammer__image:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .container__homepage {
    width: 80%;
  }
}

@media (min-width: 1366px) {
  .container__homepage {
    width: 60%;
  }
}
