.container__project {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.container__project h2 {
  padding-bottom: 2rem;
}

.coin,
.hands {
  width: 5rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .container__project {
    width: 80%;
  }
}

@media (min-width: 1366px) {
  .container__project {
    width: 60%;
  }
}
